@model AddEditExerciseViewModel;

<h1>Редактировать упражнения</h1>

@using (Html.BeginForm("EditExercise", "Exercise", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <fieldset>
        @Html.HiddenFor(m => m.ExerciseDTO.ID)
        <p>
            @Html.LabelFor(m => m.ExerciseDTO.NameExercise, "Название упражнения")
            <br />
            @Html.EditorFor(m => m.ExerciseDTO.NameExercise)
        </p>
        <p>
            @Html.LabelFor(m => m.ExerciseDTO.Description, "Описание")
            <br />
            @Html.TextAreaFor(m => m.ExerciseDTO.Description)
        </p>

        <p>
            @Html.LabelFor(m => m.ExerciseDTO.TypeOfMuscleID, "Тип мышц")
            <br />
            <select asp-for="ExerciseDTO.TypeOfMuscleID" asp-items="Model.TypeOfMysc.MyscList"></select>
        </p>

        <p>
            @Html.LabelFor(m => m.ExerciseDTO.PathImage1, "Фото начала упражнения")
            <br />
            <input type="file" name="uploadedNameImage" />
        </p>

        <p>
            @Html.LabelFor(m => m.ExerciseDTO.PathImage2, "Фото конца упражнения")
            <br />
            <input type="file" name="uploadedNameImage" />
        </p>

        <p>
            @Html.LabelFor(m => m.ExerciseDTO.PathImage3, "Фото задействующих мышц")
            <br />
            <input type="file" name="uploadedNameImage" />
        </p>

        


        <p><input type="submit" value="Изменить" /></p>
    </fieldset>
}
