@using WebTraining.Core.DTO;
@model ExerciseDTO

<h2> @Model.NameExercise</h2>

<label class="label-view-exercise">Основные мышцы:</label>
<p class="p-view-exercise">@Model.TypeOfMuscle.NameType </p>
<label class="label-view-exercise">Описание:</label>
<p class="p-view-exercise">@Model.Description</p>

<img width="200" class="exerciseimageview" src="@Url.Content(Model.PathImage1)" />
@if (Model.PathImage2!=null)
{
    <img  class="exerciseimageview" src="@Url.Content(Model.PathImage2)" />
}
<img  class="exerciseimageview" src="@Url.Content(Model.PathImage3)" />


