<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

@model ExerciseViewModel
@{
    
    ViewData["Title"] = "Упражнения";
}

<h1 class="htext-exercise">Список упражнений</h1>

@if (User.IsInRole("coach") | User.IsInRole("admin"))
{
    <form method="get" asp-action="CreateExercise">
        <button class="btn-add">Добавить</button>
    </form>
}

<h2 class ="namemuscle">Битцепс</h2>
@if (Model.Exercises.Where(x => x.TypeOfMuscle.NameType == "Битцепс").Count() == 0)
{
    <p>Упражнений нет!</p>
}
<table>
    <tbody>     
        @foreach (var exercise in Model.Exercises.Where(x=>x.TypeOfMuscle.NameType=="Битцепс"))
        {
                <tr class="trtable">
                <td>
                    @if (Model.Image.FirstOrDefault(x => x.ExerciseID == exercise.ID).PathImage.Count()!=0)
                    {
                        <img class="exerciseimage" src="@Url.Content(Model.Image.FirstOrDefault(x => x.ExerciseID == exercise.ID).PathImage)" />
                    }

                    
                </td>
                <td ><p class="nameexercise">@Html.DisplayFor(item => exercise.NameExercise)</p></td>
                <td>
                    <form method="get" asp-action="Exercise" asp-route-id="@exercise.ID">
                        <button class="button">Посмотреть</button>
                    </form>
                </td>
                @if (User.IsInRole("coach") | User.IsInRole("admin"))
                {
                <td>
                    <form method="get" asp-action="EditExercise" asp-route-id="@exercise.ID">
                            <button class="button">Изменить</button>
                    </form>
                </td>
                <td>
                    <form method="get" asp-action="Delete" asp-route-id="@exercise.ID">
                            <button class="button">Удалить</button>
                    </form>
                </td>
                }
                </tr >
        }
    </tbody>
</table>


<h2 class="namemuscle">Пресс</h2>
@if (Model.Exercises.Where(x => x.TypeOfMuscle.NameType == "Пресс").Count() == 0)
{
    <p>Упражнений нет!</p>
}
<table>
    <tbody>
        @foreach (var exercise in Model.Exercises.Where(x => x.TypeOfMuscle.NameType == "Пресс"))
        {
            <tr>
                <td><img class="exerciseimage" src="@Url.Content(Model.Image.FirstOrDefault(x=>x.ExerciseID==exercise.ID).PathImage)" /></td>
                <td><p class="nameexercise">@Html.DisplayFor(item => exercise.NameExercise)</p></td>
                <td>
                    <form method="get" asp-action="Exercise" asp-route-id="@exercise.ID">
                        <button class="button">Посмотреть</button>
                    </form>
                </td>
                @if (User.IsInRole("coach") | User.IsInRole("admin"))
                {
                    <td>
                        <form method="get" asp-action="EditExercise" asp-route-id="@exercise.ID">
                            <button class="button">Изменить</button>
                        </form>
                    </td>
                    <td>
                        <form method="get" asp-action="Delete" asp-route-id="@exercise.ID">
                            <button class="button">Удалить</button>
                        </form>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<h2 class="namemuscle">Трицепс</h2>
@if (Model.Exercises.Where(x => x.TypeOfMuscle.NameType == "Трицепс").Count() == 0)
{
    <p>Упражнений нет!</p>
}
<table>
    <tbody>
        @foreach (var exercise in Model.Exercises.Where(x => x.TypeOfMuscle.NameType == "Трицепс"))
        {
            <tr>
                <td><img class="exerciseimage" src="@Url.Content(Model.Image.FirstOrDefault(x=>x.ExerciseID==exercise.ID).PathImage)" /></td>
                <td><p class="nameexercise">@Html.DisplayFor(item => exercise.NameExercise)</p></td>
                <td>
                    <form method="get" asp-action="Exercise" asp-route-id="@exercise.ID">
                        <button class="button">Посмотреть</button>
                    </form>
                </td>
                @if (User.IsInRole("coach") | User.IsInRole("admin"))
                {
                    <td>
                        <form method="get" asp-action="EditExercise" asp-route-id="@exercise.ID">
                            <button class="button">Изменить</button>
                        </form>
                    </td>
                    <td>
                        <form method="get" asp-action="Delete" asp-route-id="@exercise.ID">
                            <button class="button">Удалить</button>
                        </form>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>


<h2 class="namemuscle">Плечи</h2>
@if (Model.Exercises.Where(x => x.TypeOfMuscle.NameType == "Плечи").Count() == 0)
{
    <p>Упражнений нет!</p>
}
<table>
    <tbody>
        @foreach (var exercise in Model.Exercises.Where(x => x.TypeOfMuscle.NameType == "Плечи"))
        {
            <tr>
                <td><img class="exerciseimage" src="@Url.Content(Model.Image.FirstOrDefault(x=>x.ExerciseID==exercise.ID).PathImage)" /></td>
                <td><p class="nameexercise">@Html.DisplayFor(item => exercise.NameExercise)</p></td>
                <td>
                    <form method="get" asp-action="Exercise" asp-route-id="@exercise.ID">
                        <button class="button">Посмотреть</button>
                    </form>
                </td>
                @if (User.IsInRole("coach") | User.IsInRole("admin"))
                {
                    <td>
                        <form method="get" asp-action="EditExercise" asp-route-id="@exercise.ID">
                            <button class="button">Изменить</button>
                        </form>
                    </td>
                    <td>
                        <form method="get" asp-action="Delete" asp-route-id="@exercise.ID">
                            <button class="button">Удалить</button>
                        </form>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>


<h2 class="namemuscle">Предплечья</h2>
@if (Model.Exercises.Where(x => x.TypeOfMuscle.NameType == "Предплечья").Count() == 0)
{
    <p>Упражнений нет!</p>
}
<table>
    <tbody>
        @foreach (var exercise in Model.Exercises.Where(x => x.TypeOfMuscle.NameType == "Предплечья"))
        {
            <tr>
                <td><img class="exerciseimage" src="@Url.Content(Model.Image.FirstOrDefault(x=>x.ExerciseID==exercise.ID).PathImage)" /></td>
                <td><p class="nameexercise">@Html.DisplayFor(item => exercise.NameExercise)</p></td>
                <td>
                    <form method="get" asp-action="Exercise" asp-route-id="@exercise.ID">
                        <button class="button">Посмотреть</button>
                    </form>
                </td>
                @if (User.IsInRole("coach") | User.IsInRole("admin"))
                {
                    <td>
                        <form method="get" asp-action="EditExercise" asp-route-id="@exercise.ID">
                            <button class="button">Изменить</button>
                        </form>
                    </td>
                    <td>
                        <form method="get" asp-action="Delete" asp-route-id="@exercise.ID">
                            <button class="button">Удалить</button>
                        </form>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<h2 class="namemuscle">Ноги</h2>
@if (Model.Exercises.Where(x => x.TypeOfMuscle.NameType == "Ноги").Count() == 0)
{
    <p>Упражнений нет!</p>
}
<table>
    <tbody>
        @foreach (var exercise in Model.Exercises.Where(x => x.TypeOfMuscle.NameType == "Ноги"))
        {
            <tr>
                <td><img class="exerciseimage" src="@Url.Content(Model.Image.FirstOrDefault(x=>x.ExerciseID==exercise.ID).PathImage)" /></td>
                <td><p class="nameexercise">@Html.DisplayFor(item => exercise.NameExercise)</p></td>
                <td>
                    <form method="get" asp-action="Exercise" asp-route-id="@exercise.ID">
                        <button class="button">Посмотреть</button>
                    </form>
                </td>
                @if (User.IsInRole("coach") | User.IsInRole("admin"))
                {
                    <td>
                        <form method="get" asp-action="EditExercise" asp-route-id="@exercise.ID">
                            <button class="button">Изменить</button>
                        </form>
                    </td>
                    <td>
                        <form method="get" asp-action="Delete" asp-route-id="@exercise.ID">
                            <button class="button">Удалить</button>
                        </form>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>


<h2 class="namemuscle">Голень</h2>
@if (Model.Exercises.Where(x => x.TypeOfMuscle.NameType == "Голень").Count() == 0)
{
    <p>Упражнений нет!</p>
}
<table>
    <tbody>
        @foreach (var exercise in Model.Exercises.Where(x => x.TypeOfMuscle.NameType == "Голень"))
        {
            <tr>
                <td><img class="exerciseimage" src="@Url.Content(Model.Image.FirstOrDefault(x=>x.ExerciseID==exercise.ID).PathImage)" /></td>
                <td><p class="nameexercise">@Html.DisplayFor(item => exercise.NameExercise)</p></td>
                <td>
                    <form method="get" asp-action="Exercise" asp-route-id="@exercise.ID">
                        <button class="button">Посмотреть</button>
                    </form>
                </td>
                @if (User.IsInRole("coach") | User.IsInRole("admin"))
                {
                    <td>
                        <form method="get" asp-action="EditExercise" asp-route-id="@exercise.ID">
                            <button class="button">Изменить</button>
                        </form>
                    </td>
                    <td>
                        <form method="get" asp-action="Delete" asp-route-id="@exercise.ID">
                            <button class="button">Удалить</button>
                        </form>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>


<h2 class="namemuscle">Спина</h2>
@if (Model.Exercises.Where(x => x.TypeOfMuscle.NameType == "Спина").Count() == 0)
{
    <p>Упражнений нет!</p>
}
<table>
    <tbody>
        @foreach (var exercise in Model.Exercises.Where(x => x.TypeOfMuscle.NameType == "Спина"))
        {
            <tr>
                <td><img class="exerciseimage" src="@Url.Content(Model.Image.FirstOrDefault(x=>x.ExerciseID==exercise.ID).PathImage)" /></td>
                <td><p class="nameexercise">@Html.DisplayFor(item => exercise.NameExercise)</p></td>
                <td>
                    <form method="get" asp-action="Exercise" asp-route-id="@exercise.ID">
                        <button class="button">Посмотреть</button>
                    </form>
                </td>
                @if (User.IsInRole("coach") | User.IsInRole("admin"))
                {
                    <td>
                        <form method="get" asp-action="EditExercise" asp-route-id="@exercise.ID">
                            <button class="button">Изменить</button>
                        </form>
                    </td>
                    <td>
                        <form method="get" asp-action="Delete" asp-route-id="@exercise.ID">
                            <button class="button">Удалить</button>
                        </form>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>


<h2 class="namemuscle">Грудь</h2>
@if (Model.Exercises.Where(x => x.TypeOfMuscle.NameType == "Грудь").Count() == 0)
{
    <p>Упражнений нет!</p>
}
<table>
    <tbody>
        @foreach (var exercise in Model.Exercises.Where(x => x.TypeOfMuscle.NameType == "Грудь"))
        {
            <tr>
                <td><img style="margin-bottom: 20px" class="exerciseimage" src="@Url.Content(Model.Image.FirstOrDefault(x=>x.ExerciseID==exercise.ID).PathImage)" /></td>
                <td><p class="nameexercise">@Html.DisplayFor(item => exercise.NameExercise)</p></td>
                <td>
                    <form method="get" asp-action="Exercise" asp-route-id="@exercise.ID">
                        <button class="button">Посмотреть</button>
                    </form>
                </td>
                @if (User.IsInRole("coach") | User.IsInRole("admin"))
                {
                    <td>
                        <form method="get" asp-action="EditExercise" asp-route-id="@exercise.ID">
                            <button class="button">Изменить</button>
                        </form>
                    </td>
                    <td>
                        <form method="get" asp-action="Delete" asp-route-id="@exercise.ID">
                            <button class="button">Удалить</button>
                        </form>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>





