@model IEnumerable<WebTraining.DB.Models.User>
@{
    ViewBag.Title = "Список пользователей";
}

<a asp-action="Create" >Добавить пользователя</a>
<a asp-action="Index" asp-controller="Roles">Список ролей</a>

<table class="table">
    <tr><th>Email</th><th>Имя</th><th></th></tr>
    @foreach (var user in Model)
    {
            <tr>
                <td>@user.Email</td>
                <td>@user.Name</td>
                <td>
                    <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                    <a class="btn-s" asp-action="Edit" asp-route-id="@user.Id">Изменить</a>
                    <a class="btn-s" asp-action="ChangePassword" asp-route-id="@user.Id">Сменить пароль</a>
                    <button class="btn-s" type="submit">
                            Удалить
                        </button>
                    </form>
                </td>
            </tr>
    }
</table>
