@model TrainingExerciseViewModel
@{
    ViewData["Title"] = "Тренировки";
}
<table class="tabletraining">
    <thead>
    <tr>
        <th>
            <a>Упражнение</a>
        </th>
        <th>
            <a>Сеты</a>
        </th>
        <th>
            <a>Повторения</a>
        </th>
    </tr>
    </thead>
    <tbody>
        @foreach (var exercise in @Model.ExerciseTraining)
        {
            <tr>
                <td>
                    @Html.DisplayFor(item => exercise.Exercise.NameExercise )
                </td>
                <td>
                    @Html.DisplayFor(item=> exercise.Sets)
                </td>
                <td>
                    @Html.DisplayFor(item=> exercise.Repetitions)
                </td>
                <td>
                    <form method="get" asp-controller="Exercise" asp-action="Exercise" asp-route-id="@exercise.ExerciseId">
                        <button class="button">Посмотреть</button>
                    </form>
                </td>

                @if (User.IsInRole("coach") | User.IsInRole("admin"))
                {
                    <td>
                        <form method="get"  asp-action="EditExercise" asp-route-id="@exercise.ID">
                            <button class="button">Изменить</button>
                        </form>
                    </td>
                    <td>
                        <form method="delete" asp-action="DeleteExercise" asp-route-id="@exercise.ID">
                            <button class="button">Удалить</button>
                    </form>
                </td>
                }
            </tr>
        }        
    </tbody>
</table>
@if (User.IsInRole("coach") | User.IsInRole("admin"))
{
    <form asp-action="AddExercise" method="get" asp-route-id="@Model.TrainingId">
        <button class="btn-add">Добавить</button>
    </form>
}




